interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"product":"azurecli","cause":"automation","date":"2020-11-18T01:29:42Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"availableToOtherTenants": false, "homepage": "http://675aef.cliakstest-clitest6mefokunc-c10894.westus2.cloudapp.azure.com",
      "passwordCredentials": [{"startDate": "2020-11-18T01:29:44.443264Z", "endDate":
      "2025-11-18T01:29:44.443264Z", "keyId": "c4a76aef-0ab6-43bb-9c70-98be40004410",
      "value": "ReplacedSPPassword123*"}], "displayName": "cliakstest000002", "identifierUris":
      ["http://675aef.cliakstest-clitest6mefokunc-c10894.westus2.cloudapp.azure.com"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body:
      string: '{"odata.metadata": "https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element",
        "odata.type": "Microsoft.DirectoryServices.Application", "objectType": "Application",
        "objectId": "3ad0a9a6-c52d-4547-b4f0-9059aec9c6d6", "deletionTimestamp": null,
        "acceptMappedClaims": null, "addIns": [], "appId": "b87b0a53-4456-46a8-ae7d-f4b768d5bc6c",
        "applicationTemplateId": null, "appRoles": [], "availableToOtherTenants":
        false, "displayName": "cliakstest000002", "errorUrl": null, "groupMembershipClaims":
        null, "homepage": "http://675aef.cliakstest-clitest6mefokunc-c10894.westus2.cloudapp.azure.com",
        "identifierUris": ["http://675aef.cliakstest-clitest6mefokunc-c10894.westus2.cloudapp.azure.com"],
        "informationalUrls": {"termsOfService": null, "support": null, "privacy":
        null, "marketing": null}, "isDeviceOnlyAuthSupported": null, "keyCredentials":
        [], "knownClientApplications": [], "logoutUrl": null, "logo@odata.mediaEditLink":
        "directoryObjects/3ad0a9a6-c52d-4547-b4f0-9059aec9c6d6/Microsoft.DirectoryServices.Application/logo",
        "logo@odata.mediaContentType": "application/json;odata=minimalmetadata; charset=utf-8",
        "logoUrl": null, "mainLogo@odata.mediaEditLink": "directoryObjects/3ad0a9a6-c52d-4547-b4f0-9059aec9c6d6/Microsoft.DirectoryServices.Application/mainLogo",
        "oauth2AllowIdTokenImplicitFlow": true, "oauth2AllowImplicitFlow": false,
        "oauth2AllowUrlPathMatching": false, "oauth2Permissions": [{"adminConsentDescription":
        "Allow the application to access cliakstest000002 on behalf of the signed-in
        user.", "adminConsentDisplayName": "Access cliakstest000002", "id": "60d4b33e-43c5-4985-8b42-414c2098c593",
        "isEnabled": true, "type": "User", "userConsentDescription": "Allow the application
        to access cliakstest000002 on your behalf.", "userConsentDisplayName": "Access
        cliakstest000002", "value": "user_impersonation"}], "oauth2RequirePostResponse":
        false, "optionalClaims": null, "orgRestrictions": [], "parentalControlSettings":
        {"countriesBlockedForMinors": [], "legalAgeGroupRule": "Allow"}, "passwordCredentials":
        [{"customKeyIdentifier": null, "endDate": "2025-11-18T01:29:44.443264Z", "keyId":
        "c4a76aef-0ab6-43bb-9c70-98be40004410", "startDate": "2020-11-18T01:29:44.443264Z",
        "value": "ReplacedSPPassword123*"}], "publicClient": null, "publisherDomain":
        "microsoft.onmicrosoft.com", "recordConsentConditions": null, "replyUrls":
        [], "requiredResourceAccess": [], "samlMetadataUrl": null, "signInAudience":
        "AzureADMyOrg", "tokenEncryptionKeyId": null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '7433502'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/3ad0a9a6-c52d-4547-b4f0-9059aec9c6d6/Microsoft.DirectoryServices.Application
      ocp-aad-diagnostics-server-name:
      - WxCDq01gHkt8PEbLuKB23iq/D8gu7Qy5H+1Xe8Cg40Y=
      ocp-aad-session-key:
      - XFBUbs4spPHheUe1Y6GoURaewhVVPcOCTG4xpmYY8t9eL8osoj6CPW6DXLVQ7T2y-WOSnmMmsJ2LqneTX2J1Ucm_TT1FU8figpfyw16YZk14kEtOfpeqbWRC0_8hn7PpJsOSDTvhQh5tLSnbrfmreH8oMl79kLzCbmMgm_OWXFo.tIwEiJLsnEK2McX1fjImV2z-KGP6i6xlBVuZNC37QOg
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=appId%20eq%20%27b87b0a53-4456-46a8-ae7d-f4b768d5bc6c%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"3ad0a9a6-c52d-4547-b4f0-9059a[...]
- request:
    body: '{"accountEnabled": "True", "appId": "b87b0a53-4456-46a8-ae7d-f4b768d5bc6c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"ba4c7f92-c6b1-4d3d-a432-4c4d1c64f5e7","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"cliakstest000002","appId":"b87b0a53-4456-46a8-ae7d-f4b768d5bc6c","applicationTemplateId":null,"appOwnerTenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"cliakstest000002","errorUrl":null,"homepage":"http://675aef.cliakstest-clitest6mefokunc-c10894.westus2.cloudapp.azure.com","informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access cliakstest000002 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        cliakstest000002","id":"60d4b33e-43c5-4985-8b42-414c2098c593","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access cliakstest000002 on your behalf.","userConsentDisplayName":"Access
        cliakstest000002","value":"user_impersonation"}],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":"Microsoft","replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["b87b0a53-4456-46a8-ae7d-f4b768d5bc6c","http://675aef.cliakstest-clitest6mefokunc-c10894.westus2.cloudapp.azure.com"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2669713'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/ba4c7f92-c6b1-4d3d-a432-4c4d1c64f5e7/Microsoft.DirectoryServices.ServicePrincipal
      ocp-aad-diagnostics-server-name:
      - V0qlNyoBiM7zM8ffTVngJJH0mXAzCwCb3m0GKYKJbYE=
      ocp-aad-session-key:
      - NpC9rTC_yAkEp_HpN4bFn5VAALtuV67Aa7RvaC4MXGErx1jiMsJvETKJZemAvx31uPkF84Qm8y4Oq4eTwjgGRyl_yvcoMJOhDK_3ubAvPhIAEWjms1NxsFAYZcPifmg5cZbsi7m04C4Wxz1iOJgnW3LsCfLjMbWfkcMUYWhyg2c.LKi1Cbw1rmGEnRoz_XXbESIZdxaFMdLhHgvAkubXIa8
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: '{"location": "westus2", "properties": {"kubernetesVersion": "", "dnsPrefix":
      "cliakstest-clitest6mefokunc-c10894", "agentPoolProfiles": [{"count": 1, "vmSize":
      "Standard_DS2_v2", "osType": "Linux", "type": "VirtualMachineScaleSets", "mode":
      "System", "enableNodePublicIP": false, "scaleSetPriority": "Regular", "scaleSetEvictionPolicy":
      "Delete", "name": "c000003"}], "linuxProfile": {"adminUsername": "azureuser",
      "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCvNFAG/ZptDEgHTHXsBUDJDEMtqzsi12P0IDz4k76NTnyxdlh7lXcqvGbVpHL7ro3nhUseltnR7GQyzxWdLnCzNvX46kajXJcpQsuXaznH8ZaEn1iIgJvlnascjUrzLvsMJKB9ktvwSnvkt1sN/juOOYtnFi57NrtbuWBl6+kdD9wKMoIZ91mEr6Irq+HXOnMvL365gqZ1yOiQOostB1OZZ97skyAW7zbNvIRwjUTiAY3G0rP1ajX5PRKTTyj3w6Wu3rKhG4Vz4ij9iGE2Xz9d0Ox6tfOAcmtIK6DmpYCrLrAeaSgQ2QlwWBUqwitvjXCJQtjrNiykTB/SAqs5iATv"}]}},
      "servicePrincipalProfile": {"clientId": "b87b0a53-4456-46a8-ae7d-f4b768d5bc6c",
      "secret": "a5d76bc451440955465d$"}, "addonProfiles": {}, "enableRBAC": true,
      "enablePodSecurityPolicy": false, "networkProfile": {"networkPlugin": "kubenet",
      "podCidr": "10.244.0.0/16", "serviceCidr": "10.0.0.0/16", "dnsServiceIP": "10.0.0.10",
      "dockerBridgeCidr": "172.17.0.1/16", "outboundType": "loadBalancer", "loadBalancerSku":
      "standard"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002?api-version=2020-11-01
  response:
    body:
      string: "{\n  \"code\": \"ServicePrincipalNotFound\",\n  \"message\": \"Service\
        \ principal clientID: b87b0a53-4456-46a8-ae7d-f4b768d5bc6c not found in Active\
        \ Directory tenant 72f988bf-86f1-41af-91ab-2d7cd011db47, Please see https://aka.ms/aks-sp-help\
        \ for more details.\"\n }"
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/cbe415c2-80da-4eaf-82d6-920a04e5cc0c?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"c215e4cb-da80-af4e-82d6-920a04e5cc0c\",\n  \"status\"\
        : \"InProgress\",\n  \"startTime\": \"2020-11-18T01:30:16.8537341Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002?api-version=2020-11-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002\"\
        ,\n  \"location\": \"westus2\",\n  \"name\": \"cliakstest000002\",\n  \"type\"\
        : \"Microsoft.ContainerService/ManagedClusters\",\n  \"properties\": {\n \
        \  \"provisioningState\": \"Succeeded\",\n   \"powerState\": {\n    \"code\"\
        : \"Running\"\n   },\n   \"kubernetesVersion\": \"1.17.13\",\n   \"dnsPrefix\"\
        : \"cliakstest-clitest6mefokunc-c10894\",\n   \"fqdn\": \"cliakstest-clitest6mefokunc-c10894-fc75a663.hcp.westus2.azmk8s.io\"\
        ,\n   \"agentPoolProfiles\": [\n    {\n     \"name\": \"c000003\",\n     \"\
        count\": 1,\n     \"vmSize\": \"Standard_DS2_v2\",\n     \"osDiskSizeGB\"\
        : 128,\n     \"osDiskType\": \"Managed\",\n     \"maxPods\": 110,\n     \"\
        type\": \"VirtualMachineScaleSets\",\n     \"provisioningState\": \"Succeeded\"\
        ,\n     \"powerState\": {\n      \"code\": \"Running\"\n     },\n     \"orchestratorVersion\"\
        : \"1.17.13\",\n     \"enableNodePublicIP\": false,\n     \"nodeLabels\":\
        \ {},\n     \"mode\": \"System\",\n     \"osType\": \"Linux\",\n     \"nodeImageVersion\"\
        : \"AKSUbuntu-1604-2020.10.28\"\n    }\n   ],\n   \"linuxProfile\": {\n  \
        \  \"adminUsername\": \"azureuser\",\n    \"ssh\": {\n     \"publicKeys\"\
        : [\n      {\n       \"keyData\": \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCvNFAG/ZptDEgHTHXsBUDJDEMtqzsi12P0IDz4k76NTnyxdlh7lXcqvGbVpHL7ro3nhUseltnR7GQyzxWdLnCzNvX46kajXJcpQsuXaznH8ZaEn1iIgJvlnascjUrzLvsMJKB9ktvwSnvkt1sN/juOOYtnFi57NrtbuWBl6+kdD9wKMoIZ91mEr6Irq+HXOnMvL365gqZ1yOiQOostB1OZZ97skyAW7zbNvIRwjUTiAY3G0rP1ajX5PRKTTyj3w6Wu3rKhG4Vz4ij9iGE2Xz9d0Ox6tfOAcmtIK6DmpYCrLrAeaSgQ2QlwWBUqwitvjXCJQtjrNiykTB/SAqs5iATv\"\
        \n      }\n     ]\n    }\n   },\n   \"servicePrincipalProfile\": {\n    \"\
        clientId\": \"b87b0a53-4456-46a8-ae7d-f4b768d5bc6c\"\n   },\n   \"addonProfiles\"\
        : {\n    \"KubeDashboard\": {\n     \"enabled\": true,\n     \"config\": null\n\
        \    }\n   },\n   \"nodeResourceGroup\": \"MC_clitest000001_cliakstest000002_westus2\"\
        ,\n   \"enableRBAC\": true,\n   \"enablePodSecurityPolicy\": false,\n   \"\
        networkProfile\": {\n    \"networkPlugin\": \"kubenet\",\n    \"loadBalancerSku\"\
        : \"Standard\",\n    \"loadBalancerProfile\": {\n     \"managedOutboundIPs\"\
        : {\n      \"count\": 1\n     },\n     \"effectiveOutboundIPs\": [\n     \
        \ {\n       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MC_clitest000001_cliakstest000002_westus2/providers/Microsoft.Network/publicIPAddresses/bdf426be-cec2-42b5-b6a7-c2648ee3d1cc\"\
        \n      }\n     ]\n    },\n    \"podCidr\": \"10.244.0.0/16\",\n    \"serviceCidr\"\
        : \"10.0.0.0/16\",\n    \"dnsServiceIP\": \"10.0.0.10\",\n    \"dockerBridgeCidr\"\
        : \"172.17.0.1/16\",\n    \"outboundType\": \"loadBalancer\"\n   },\n   \"\
        maxAgentPools\": 10\n  },\n  \"sku\": {\n   \"name\": \"Basic\",\n   \"tier\"\
        : \"Free\"\n  }\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002/agentPools/c000003/upgradeNodeImageVersion?api-version=2020-11-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002/agentPools/c000003\"\
        ,\n  \"name\": \"c000003\",\n  \"type\": \"Microsoft.ContainerService/managedClusters/agentPools\"\
        ,\n  \"properties\": {\n   \"count\": 1,\n   \"vmSize\": \"Standard_DS2_v2\"\
        ,\n   \"osDiskSizeGB\": 128,\n   \"osDiskType\": \"Managed\",\n   \"maxPods\"\
        : 110,\n   \"type\": \"VirtualMachineScaleSets\",\n   \"provisioningState\"\
        : \"UpgradingNodeImageVersion\",\n   \"powerState\": {\n    \"code\": \"Running\"\
        \n   },\n   \"orchestratorVersion\": \"1.17.13\",\n   \"enableNodePublicIP\"\
        : false,\n   \"nodeLabels\": {},\n   \"mode\": \"System\",\n   \"osType\"\
        : \"Linux\",\n   \"nodeImageVersion\": \"AKSUbuntu-1604-2020.10.28\"\n  }\n\
        \ }"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/d1e4f88a-4abc-4a25-a7a6-24048793bd84?api-version=2016-03-30
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operationresults/d1e4f88a-4abc-4a25-a7a6-24048793bd84?api-version=2016-03-30
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
